
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFEnd.cshtml";
}

<section class="banner-area relative" id="home">
    <img class="header-img" src="~/FEnd/img/header-img.png" alt="">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="banner-content col-lg-7 offset-lg-5 col-md-12">
                <h5 class="text-uppercase">We Promise you</h5>
                <h1 class="text-uppercase">
                    Trustworthy <br>
                    Services
                </h1>
                <a href="#" class="genric-btn primary-border circle arrow pt-20 pb-20">Get Started<span class="lnr lnr-arrow-right"></span></a>
            </div>
        </div>
    </div>
</section>

<section class="quote-area pt-100" id="service">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-sm-12 quote-left">
                <h2 class="text-right">
                    <span>Laundry</span> for those Area<br>
                    where like to change<br>
                    <span>Nowhere</span>.
                </h2>
            </div>
            <div class="col-lg-7 col-sm-12 quote-right">
                <p class="text-left">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="service-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-service">
                    <div class="thumb">
                        <img class="img-fluid" src="~/FEnd/img/Service0001.png" alt="">
                    </div>
                    <a href="#" ><h4>Dry Washing Service</h4></a>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-service">
                    <div class="thumb">
                        <img class="img-fluid" src="~/FEnd/img/Service2.png" alt="">
                    </div>
                    <a href="#"><h4>Laundry Service</h4></a>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-service">
                    <div class="thumb">
                        <img class="img-fluid" src="~/FEnd/img/s3.jpg" alt="">
                    </div>
                    <a href="#"><h4>Vaccum Cleaning Service</h4></a>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="video-area" id="about">
    <div class="container-fluid">
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-6 video-left">
                <div class="overlay overlay-bg"></div>
                <div class="containers">
                    <div class="video-content">
                        <a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="play-btn"><img src="~/FEnd/img/play-btn.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 video-right">
                <h1>
                    We Believe that <br>
                    Interior beautifies the <br>
                    Total Architecture
                </h1>
                <p>
                    inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that.
                </p>
                <a class="primary-btn text-uppercase" href="#">see details</a>
            </div>
        </div>
    </div>
</section>

<section class="feature-area section-gap" id="feature">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 pb-40 header-text">
                <h1>Why we are the best</h1>
                <p>
                    Who are in extremely love with eco friendly system.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <h4><span class="lnr lnr-user"></span>Expert Technicians</h4>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <h4><span class="lnr lnr-license"></span>Professional Service</h4>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <h4><span class="lnr lnr-phone"></span>Great Support</h4>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <h4><span class="lnr lnr-rocket"></span>Technical Skills</h4>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <h4><span class="lnr lnr-diamond"></span>Highly Recomended</h4>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <h4><span class="lnr lnr-bubble"></span>Positive Reviews</h4>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pricing-area section-gap" id="price">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
                <div class="title text-center">
                    <h1 class="mb-10">Our Pricing Starts From</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-pricing">
                    <img src="~/FEnd/img/p1.png" alt="">
                    <h4>
                        Starts from <br>
                        $1.50/cloth
                    </h4>
                    <p>
                        inappropriate behavior is often laughed off as boys.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-pricing">
                    <img src="~/FEnd/img/p2.png" alt="">
                    <h4>
                        Starts from <br>
                        $1.00/shirt
                    </h4>
                    <p>
                        inappropriate behavior is often laughed off as boys.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-pricing">
                    <img src="~/FEnd/img/p3.png" alt="">
                    <h4>
                        Starts from <br>
                        $0.50/cloth
                    </h4>
                    <p>
                        inappropriate behavior is often laughed off as boys.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-pricing">
                    <img src="~/FEnd/img/p4.png" alt="">
                    <h4>
                        Starts from <br>
                        $0.75/sqf
                    </h4>
                    <p>
                        inappropriate behavior is often laughed off as boys.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="get-estimate-area section-gap relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10 text-white">Get a free Estimation</h1>
                    <p class="text-white">Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <form class="forms col-lg-12">
                <div class="row">
                    <div class="col-lg-6 form-group">
                        <input name="name" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mb-20 form-control" required="" type="text">

                        @*<input name="email" placeholder="Enter email address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input mb-20 form-control" required="" type="email">*@
                    </div>
                    <div class="col-lg-6 form-group">
                        <textarea class="common-textarea form-control" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                        <button class="primary-btn mt-20">Get Quote</button>
                    </div>
                </div>
        </div>
        </form>
    </div>
    </div>
</section>

<section class="home-testimonial-area relative section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Why We are the best</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-testimonial">
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="img-fluid" src="~/FEnd/img/user1.png" alt="">
                    </div>
                    <div class="desc">
                        <p>
                            Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.
                        </p>
                        <h4 mt-30>Mark Alviro Wiens</h4>
                        <p>CEO at Google</p>
                    </div>
                </div>
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="img-fluid" src="~/FEnd/img/user2.png" alt="">
                    </div>
                    <div class="desc">
                        <p>
                            Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.
                        </p>
                        <h4 mt-30>Mark Alviro Wiens</h4>
                        <p>CEO at Google</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-area" id="contact">
    <div class="container-fluid">
        <div class="row align-items-center d-flex justify-content-start">
            <div class="col-lg-6 col-md-12 contact-left no-padding">
                <div style=" width:100%;height: 545px;" id="map"></div>
            </div>
            <div class="col-lg-4 col-md-12 pt-100 pb-100">
                <form class="form-area" id="myForm" action="mail.php" method="post" class="contact-form text-right">
                    <input name="fname" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mt-10" required="" type="text">
                    @*<input name="email" placeholder="Enter email address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input mt-10" required="" type="email">*@
                    <textarea class="common-textarea mt-10" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                    <button class="primary-btn mt-20">Send Message</button>
                    <div class="alert-msg">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>



